<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monkeypox Data Files</title>
</head>
<body>
    <div>
        <h2>Contents of G.h Monkeypox data bucket</h2>
    </div>
    <div><a href="{{ url_for('get_archive_files') }}">Line List Archives</a></div>
    <div><a href="{{ url_for('get_case_definition_files') }}">Case definitions</a></div>
    <div><a href="{{ url_for('get_ecdc_files') }}">ECDC</a></div>
    <div><a href="{{ url_for('get_ecdc_archive_files') }}">ECDC Archives</a></div>
</body>
</html>
